@model ClusterSelection
@{
    ViewData["Title"] = "Home Page";
    string defaultNamespaceSelector = "All Namespaces";
}

<div class="text-center">
    <div id="cluster-dropdown" class="dropdown">
        <button id="cluster-dropdown-button" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            <span id="cluster-dropdown-select-text">@(Model.SelectedCluster == null ? "Select Cluster" : Model.SelectedCluster.Name)</span>
        </button>
        <ul id="cluster-dropdown-menu" class="dropdown-menu">
            @foreach (var cluster in Model.AllClusters)
            {
                <li class="cluster-dropdown-item">
                    <span class="dropdown-item">@cluster.Name</span>
                </li>
            }
        </ul>
    </div>

    @if (Model.SelectedCluster != null)
    {
        <div id="namespace-dropdown" class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                <span id="namespace-dropdown-select-text">@(defaultNamespaceSelector)</span>
            </button>
            <ul id="namespace-dropdown-menu" class="dropdown-menu">
                <li class="namespace-dropdown-item">
                    <span class="dropdown-item">All Namespaces</span>
                </li>
                @foreach (var namespacee in Model.SelectedCluster.Namespaces)
                {
                    <li class="namespace-dropdown-item">
                        <span class="dropdown-item">@(namespacee.Name)</span>
                    </li>
                }
            </ul>
        </div>
    }

    @if (Model.SelectedCluster != null)
    {
        <div>
            @await Html.PartialAsync("Partials/NamespaceMicroservices", Model.SelectedCluster)
        </div>
    }
</div>

<script type="text/javascript">
    var Index = (() => {
        var init = () => {
            $('.cluster-dropdown-item').click((e) => {
                let clusterName = e.currentTarget.innerText;
                $('#cluster-dropdown-select-text').text(clusterName);

                window.location.href = `@Url.Action("Index", "Home")?clusterName=${clusterName}`;
            });

            $('.namespace-dropdown-item').click((e) => {
                let namespace = e.currentTarget.innerText;
                $('#namespace-dropdown-select-text').text(namespace);

                $('.namespace-container').show();
                if (namespace !== '@(defaultNamespaceSelector)') {
                    $(`.namespace-container[data-namespace!="${namespace}"]`).hide();
                }
            });
        }

        return {
            Init: init
        }
    })();

    $(document).ready(() => {
        Index.Init();
    })
</script>
